* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .clearfix{
    clear:both;
  }
  .header-banner{
    padding-top:35px;
    padding-bottom:100px;
    color:#ffffff;
    font-family:Helvetica, serif;
    font-weight:100;
    background-image:url("https://grapesjs.com/img/bg-gr-v.png"), url("https://grapesjs.com/img/work-desk.jpg");
    background-attachment:scroll, scroll;
    background-position:left top, center center;
    background-repeat:repeat-y, no-repeat;
    background-size:contain, cover;
  }
  .container-width{
    width:90%;
    max-width:1150px;
    margin:0 auto;
  }
  .lead-title{
    margin:150px 0 30px 0;
    font-size:40px;
  }
  .sub-lead-title{
    max-width:650px;
    line-height:30px;
    margin-bottom:30px;
    color:#c6c6c6;
  }
  .footer-container{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:space-around;
  }
  .foot-list{
    float:left;
    width:200px;
  }
  .foot-list-item{
    color:rgba(238, 238, 238, 0.8);
    font-size:0.8em;
    padding:0.5em 0;
  }
  .foot-list-item:hover{
    color:rgba(238, 238, 238, 1);
  }
  .bdg-sect{
    padding-top:100px;
    padding-bottom:100px;
    font-family:Helvetica, serif;
    background-color:#fafafa;
  }
  .bdg-title{
    text-align:center;
    font-size:2em;
    margin-bottom:55px;
    color:#555555;
  }
  .badges{
    padding:20px;
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    flex-wrap:wrap;
  }
  .badge{
    width:290px;
    font-family:Helvetica, serif;
    background-color:white;
    margin-bottom:30px;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius:3px;
    font-weight:100;
    overflow:hidden;
    text-align:center;
  }
  .badge-header{
    height:115px;
    background-image:url("https://grapesjs.com/img/bg-gr-v.png"), url("https://grapesjs.com/img/work-desk.jpg");
    background-position:left top, center center;
    background-attachment:scroll, fixed;
    overflow:hidden;
  }
  .badge-name{
    font-size:1.4em;
    margin-bottom:5px;
  }
  .badge-role{
    color:#777;
    font-size:1em;
    margin-bottom:25px;
  }
  .badge-desc{
    font-size:0.85rem;
    line-height:20px;
  }
  .badge-body{
    margin:35px 10px;
  }
  #iv5r{
    opacity:1;
    background-image:url('https://www.incimages.com/uploaded_files/image/1920x1080/trinity-air-02-2017_271191.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:local;
    background-size:auto;
    border:none rgb(255, 255, 255);
  }
  #iaxw6{
    font-size:31px;
    font-family:Arial Black, Gadget, sans-serif;
    text-align:center;
    opacity:0.8;
    top:auto;
    right:auto;
    left:auto;
    margin:2% 0 auto 0;
    background-image:linear-gradient(#edefff,#edefff);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    border:0 #a80019 rgba(255,255,255,0.75);
    color:#000000;
  }
  #i6p05{
    opacity:0.67;
    width:auto;
    height:auto;
    max-width:90%;
    position:relative;
    left:auto;
    display:flex;
    right:auto;
    margin:5% 10% 30% 10%;
    font-family:Arial, Helvetica, sans-serif;
    background-image:linear-gradient(Black,Black);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    border:#c6c6c6 #d31f1f;
    color:#ffffff;
  }
  #iq1fhf{
    max-width:100%;
    width:90%;
    margin:0 5% 0 5%;
  }
  #ikg6w2{
    color:black;
    width:118px;
    height:118px;
    border-radius:100% 100% 100% 100%;
    border:5px solid #ffffff;
    position:relative;
    margin:-30% 0 auto 0;
  }
  #i01h1m{
    opacity:1;
    background-image:linear-gradient(#130e3f,#130e3f);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
  }
  #i55h1q{
    background-image:linear-gradient(#f3f5ff,#f3f5ff);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
  }
  #ilkt1g{
    background-image:url("https://wallpaper.dog/large/17008634.jpg");
    background-repeat:repeat;
    background-position:center top;
    background-attachment:fixed; /* prima era scroll !!!!!!!!!!!!!!!*/
    background-size:auto;
  }
  #irpwng{
    opacity:1;
    background-image:linear-gradient(#130e3f,#130e3f);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
  }
  #i0uwkf{
    color:black;
    width:118px;
    height:118px;
    border-radius:100% 100% 100% 100%;
    border:5px solid #ffffff;
    position:relative;
    margin:-30% 0 auto 0;
  }
  #iftz9k{
    background-image:linear-gradient(#f3f5ff,#f3f5ff);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
  }
  #ieb6lu{
    opacity:1;
    background-image:linear-gradient(#130e3f,#130e3f);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
  }
  #i139zz{
    color:black;
    width:118px;
    height:118px;
    border-radius:100% 100% 100% 100%;
    border:5px solid #ffffff;
    position:relative;
    margin:-30% 0 auto 0;
  }
  #ili4xy{
    background-image:linear-gradient(#f3f5ff,#f3f5ff);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
  }
  #icnkej{
    opacity:1;
    background-image:linear-gradient(#130e3f,#130e3f);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
  }
  #io97d3{
    color:black;
    width:118px;
    height:118px;
    border-radius:100% 100% 100% 100%;
    border:5px solid #ffffff;
    position:relative;
    margin:-30% 0 auto 0;
  }
  #ii2amj{
    background-image:linear-gradient(#f3f5ff,#f3f5ff);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
  }
  #ik20zd{
    font-size:22.4px;
  }
  #isc5nx{
    font-size:22.4px;
  }
  #iws88f{
    font-size:22.4px;
  }
  #ichorq{
    font-size:13.6px;
  }
  #i8tpxd{
    font-size:13.6px;
  }
  #im4xnk{
    font-size:13.6px;
  }
  #iijywh{
    color:#eeeeee;
  }
  #i7q7a5{
    max-width:90%;
    width:100%;
    margin:5% 5% 0 5%;
  }
  #ivphmp{
    right:5%;
    left:5%;
    margin:0 5% auto 5%;
  }
  #i6rruj{
    max-width:90%;
    width:100%;
  }
  #iorsgw{
    margin:0 0 0 5%;
    right:1%;
    left:1%;
    display:block;
    position:relative;
    top:auto;
    bottom:auto;
  }
  @media (max-width: 992px){
    #iv5r{
      background-attachment: fixed;
      background-position:center top;
      background-repeat:repeat;
      border:solid #000000;
      background-image:url('https://www.incimages.com/uploaded_files/image/1920x1080/trinity-air-02-2017_271191.jpg');
      background-size:auto;
    }
    #iaxw6{
      opacity:0.81;
      font-family:Arial, Helvetica, sans-serif;
      color:#000000;
      margin:0 0 0 0;
      font-size:130%;
    }
    #i6p05{
      margin:5% 75.1875px 35% 75.1875px;
      font-size:80%;
      letter-spacing:10%;
      line-height:150%;
    }
    #ixao7i{
      padding:5% 20px 20px 20px;
      top:auto;
    }
  }
  @media (max-width: 480px){
    .foot-lists{
      display:none;
    }
    #iaxw6{
      font-size:80%;
    }
    #i6p05{
      font-size:50%;
      margin:15.1875px 2% 70% 2%;
      max-width:100%;
    }
  }